.container{

    .navbar{
        width:80%;
        background-image: url(./hhh.png);
        padding: 2rem;
        margin: 3rem;
        text-align: center;
    }
    .section {
        display: flex;
        margin: 2rem;
        padding: 2rem;
        width: 90%;
        justify-content: space-evenly;
        flex-direction: row-reverse;
    .card {
            background-color: orange;
            width: 2rem;
            padding: 2rem;
            
        }
    }
}